
/* page backgrounds */

.home_body {
  background-image: url("http://i.imgur.com/O3FO1fo.jpg");
  background-position: 100% 20%;
  height: 100vh;
  width: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  }

.about_body {
  background-image: url("http://i.imgur.com/WmIfuTG.jpg");
  background-position: 100% 70%;
  height: 100vh;
  width: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  }

.photos_body {
  background-image: url("http://i.imgur.com/bpLuf4u.jpg");
  background-position: relative;
  height: 100vh;
  width: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  }

.contact_body {
  background-image: url("http://i.imgur.com/XQ93GYm.jpg");
  background-position: absolute;
  height: 100vh;
  width: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* page headers*/
.main_header {
  top: 0;
  position: fixed;
  background: black;
  margin: 0em 8px 0px 0em;
  width: 100%;
  background: rgba(0,0,0,.85);
  z-index: 2;
}

.logo {
  float: left;
  color: white;
  padding: 0px 0px;
  width: 100px;
  height: 100px;
}

.main_header_h1 {
  color: white;
  font-size: 25px;
  float: left;
  margin: 40px -5px 5px 1.5em;
  font-family: special elite;
  text-transform: uppercase;

}

.main_header_nav_ul_li {
  display: inline-block;
  font: Oswald;
  font-size: 18px;
  text-transform: uppercase;
  padding: .25em;
  float: right;
  color: #C2C2C2;
}

.main_header_nav_ul_li a {
  text-decoration: none;
  color: inherit;
}

.main_header a {
  text-decoration: none;
  color: inherit;

}

.main_header_nav {
position: fixed;
margin: 20px 0px 0px 30em;
}

/* Gallery Position */
.main_section {
  margin: auto;
  width: 100%;
  padding: 6em 12em;
}
/* paragraph styling*/

p {
  margin: 10em auto auto auto;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 2em 2em;
  width: 75%;
  position: absolute;
  font-size: 20px;
  z-index: -1;
}

/* page footers */

.main_footer_ul_li {
  display: inline-block;
  font: Oswald white 15px;
  color: white;
  padding: 0px 1em;

}

.footer {
  position: fixed;
  bottom: 0;
  background: rgba(0,0,0,1);
  width: 100%;
  padding: 5px;
  margin: 0em 5px 0em 0px;
}

.main_footer_img {
  margin: -6em 20px -5px 53em;
  float: clear;
  width: 90px;
  height: 90px;
}

.footer_ul {
  margin: 25px 0px 0px 0px;
}

/* Move Logo and Nav*/

@media screen and (max-width: 950px) {

   .main_footer_img {
      margin: -6em 20px -5px 45em;
  }

  .main_header_nav {
    margin: 20px 0px 0px 25em;
  }

}

@media screen and (max-width: 825px) {

  /* Hamburger Menu from source(http://inspirationalpixels.com/tutorials/creating-a-responsive-menu-with-html-css-jquery#jquery-toggling) */

  .menu {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    border-radius: 3px;
    z-index: 1;
  }

  /* Make Label Logo Disappear */

  .main_footer_img {
    display: none;
  }

  /* Change Background for Mobile Site */

  .home_body {
  background-image: url("http://i.imgur.com/87RCjA9.jpg");
  background-size: cover;
  background-position: 100% 0%;
  }


  /* Make Menu Responsive */

  .main_header_nav ul.active {
    display: none;
  }

  .main_header_nav ul {
    width:100%;
    position:absolute;
    top:120%;
    left:0px;
    padding:10px 18px;
    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
    background:#303030;
  }

  .main_header_nav ul:after {
    width:0px;
    height:0px;
    position:absolute;
    top:0%;
    left:22px;
    content:'';
    transform:translate(0%, -100%);
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #303030;
  }

  .main_header_nav li {
    margin:5px 0px 5px 0px;
    float:none;
    display:block;
  }

  .main_header_nav a {
    display: block;
  }

  .toggle-nav {
    padding:20px;
    float:left;
    display:inline-block;
    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
    background:#303030;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    font-size:20px;
    transition: color linear 0.15s;
  }

  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #fff;
  }

  .main_header_nav {
  margin: 20px 0px 0px 40em;
  }

}

/* Move Nav */

@media screen and (max-width: 750px) {

  .main_header_nav {
  margin: 20px 0px 0px 30em;
  }

}

@media screen and (max-width: 550px) {

  .main_header_nav {
  margin: 20px 0px 0px 23em;
  }

}






